<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - Test</title>

    @Styles.Render("~/Content/bootstrap")
    @Styles.Render("~/Content/PersianDateTimePicker")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</head>
<body>
    @RenderBody()

    @Scripts.Render("~/bundles/jalaali")
    @Scripts.Render("~/bundles/PersianDateTimePicker")

    @RenderSection("Scripts", required: false)
</body>
</html>