@using PersianDatePicker.Helper


@{ ViewBag.Title = "Persian Date Picker"; }


<div style="margin-top: 50px; clear: both;"></div>

<div class="container" style="max-width: 200px;">
    @Html.PersianDatePickerItem("testid1", true)
    @Html.PersianDatePickerItem("testid2", false, DataPlacement.Right)
</div>

<div class="container" style="max-width: 400px;">
    @Html.PersianFromToDatePickerItem("testid12", "testid22", false, DataPlacement.Bottom)
    <input type="button" onclick="alert(GetDateTime('testid12'))" value="نمایش از تاریخ" style="float: right; margin: 5px;"/>
    <input type="button" onclick="alert(GetDateTime('testid22'))" value="نمایش تا تاریخ" style="margin: 5px;"/>
</div>
<br />
<div class="container" style="max-width: 500px;">
    @Html.PersianFromToDatePickerItem(true, DataPlacement.Right)
</div>
<br />
<div class="container" style="max-width: 2000px;">
    @Html.PersianFromToDatePickerItem()
</div>
<br/>
<div class="container" style="max-width: 600px;">
    @Html.PersianDatePickerItem()
</div>


<script>
    var GetDateTime = function (id) {
        var date = $("#" + id).attr("data-MdPersianDateTimePickerSelectedDateTime");
        return date;
    }
</script>